<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<%@ include file="/WEB-INF/views/included/included_head.jsp"%>
</head>
<body>
<%@ include file="/WEB-INF/views/included/included_header.jsp"%>

	<!-- Wrapper -->
	<div id="wrapper">

		<div class="loading-image"></div>
		<div class="mask"></div>
	
		<!-- Items -->
		<section class="main items">	
		</section>
		
		<%@ include file="/WEB-INF/views/included/included_fotter.jsp"%>
	</div>
</body>
</html>

